# ambiente virtual
venv/
.env

# python
__pycache__/
*.pyc
*.pyo
*.pyd

# banco de dados
*.db
cema_plant.db

# logs
*.log

# sistema
.DS_Store
Thumbs.db

# vscode
.vscode/

# pycharm
.idea/

# alembic
alembic/versions/*.pyc

# uploads e datasets
dataset_doencas/
dataset_plantas/
imgs

# node (react native)
node_modules/