# ambiente virtual
venv/
.env

# python
__pycache__/
*.pyc
*.pyo
*.pyd

# banco de dados
*.db

# logs
*.log

# sistema
.DS_Store
Thumbs.db

# vscode
.vscode/

# pycharm
.idea/

# alembic
alembic/versions/*.pyc

# uploads e datasets
dataset_doencas/
dataset_plantas/
backend/app/uploads/images/
uploads/images/

# node (react native)
node_modules/
cema_plant.db